<div class="contenedor">
  <header class="encabezado">
    <img src="assets/img/logo.png" alt="Logo Hospital La Bendición" class="logo" />

    <div class="bienvenida-box">
      <h1 class="titulo">Bienvenidos al Hospital La Bendición</h1>
      <p class="descripcion">
        En el Hospital La Bendición brindamos atención médica de calidad con ética, tecnología y calidez humana.
        Nuestra misión es servir con compromiso y pasión para el bienestar de todos.
      </p>
    </div>

    <button class="boton-login" routerLink="/login">Iniciar Sesión</button>
  </header>

  <main class="contenido">
    <div class="cards">
      <div class="card">
        <img src="assets/img/nuestroproyecto.png" alt="Visión" class="img-card" />
        <h2 class="subtitulo vision">Spring BOOT</h2>
        <p class="texto">
          El Hospital La Bendición es un sistema integral diseñado para gestionar eficientemente los procesos hospitalarios,
         enfocado en mejorar la atención a pacientes mediante tecnologías modernas. Este sistema está construido utilizando
         una arquitectura basada en microservicios implementados con Spring Boot, un framework potente y versátil que facilita
         el desarrollo de aplicaciones Java de alto rendimiento.
        </p>
      </div>

      <div class="card">
        <img src="assets/img/objetivo.png" alt="Misión" class="img-card" />
        <h2 class="subtitulo mision">Objetivo</h2>
        <p class="texto">
          Desarrollar un sistema de software eficiente y conveniente que permita a los pacientes consultar y controlar sus citas médicas,
          optimizando la gestión hospitalaria. El proyecto utiliza tecnologías avanzadas basadas en una arquitectura de microservicios,
          específicamente implementada con Spring Boot 3, que proporciona escalabilidad, modularidad y facilidad de mantenimiento
          a través del desarrollo de APIs RESTful y la integración con bases de datos relacionales como PostgreSQL
        </p>
      </div>

      <div class="card">
        <img src="assets/img/desafios.png" alt="Valores" class="img-card" />
        <h2 class="subtitulo valores">Desafios</h2>
        <p class="texto">
         Integración de Microservicios: Coordinar eficazmente múltiples servicios independientes comunicándose vía APIs RESTful.
          Seguridad con JWT:Implementar un sistema seguro y eficiente para autenticación y autorización usando tokens JWT.
          Gestión de la Base de Datos: Manejar correctamente la integración y optimización de consultas en la base de datos relacional PostgreSQL.
          Interfaz de Usuario en Angular: Desarrollar una interfaz amigable, intuitiva y funcional para los pacientes.
          Pruebas y Despliegue: Garantizar estabilidad mediante pruebas integrales y realizar un despliegue efectivo en producción utilizando AWS.
        </p>
      </div>
    </div>
  </main>

  <footer class="pie">
    © 2025 Hospital La Bendición – Todos los derechos reservados
  </footer>
</div>
